.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style : normal;
  font-variation-settings:
    "width" 100%;
}


.color-orange{
    color: #FD6E0A;
    
}   

header {
    background-color: #FFF8F3;
    margin: 10px auto;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn2 {
    background-color: white;
    border: 2px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    cursor: pointer;
}
nav .menu {
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center
}

nav .menu a{
    text-decoration: none;
    color: #474747
}

#banner {
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 600px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 65px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

#banner .banner-image img {
    max-width: 500px;
    max-height: auto;
    vertical-align: middle;
}

.banner-button{
    display: flex;
    gap: 20px;
}